<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">Simulador de Créditos</h1>
        <p class="lead">Esta es una aplicación que permite simular diferentes tipos de credito, con el fin de poder determinar el valor de cada cuota y el interes generado.</p>
    </div>
</div>