<h1>Tarjetas</h1>
<hr>

<div class="card-columns">
    <app-heroe-tarjeta (heroeSeleccionado)="verHeroe( $event )" [heroe]="localHeroe" [index]="i" *ngFor="let localHeroe of heroes; let i = index"></app-heroe-tarjeta>
</div>