<h1> {{ heroe.nombre | uppercase}} <small>( {{ heroe.aparicion | date:'y'}} )</small></h1>
<hr>
<div class="row animated fadeIn">
    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
        <br><br>
        <a [routerLink]="['/heroes']" class="btn btn-outline-dark btn-block">Regresar</a>
    </div>

    <div class="col-md-8">
        <h3>{{ heroe.nombre }}</h3>
        <hr>
        <form class="card bg-light text-dark" style="padding: 1%;">
            <div class="form-group">
              <label for="exampleInputEmail1">Monto</label>
              <input type="number" class="form-control" id="monto" aria-describedby="emailHelp" placeholder="Ingrese el monto"  (focus)="show_div = false" required>
              <small id="emailHelp" class="form-text text-muted">Monto que desea simular para la cuota</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Número de cuotas</label>
              <input type="number" class="form-control" id="numCuotas" placeholder="ingrese el número de cuotas" (focus)="show_div = false" required>
            </div>
            <p><strong> Tasa de interes  {{ heroe.tasa }}% </strong></p>
            <button type="button" (click)="calcularCuotas()" class="btn btn-primary">Simular Cuota</button>
          </form>          
    </div>
    <hr>
    <div *ngIf="show_div" class="col-md-12" style="margin-top: 1%;">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"># Cuota</th>
            <th scope="col">Valor Cuota</th>
            <th scope="col">Interes Mensual</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let iCuotas of iteradorCuotas">
            <th scope="row">{{ iCuotas.id }}</th>
            <td>{{ iCuotas.cuota }}</td>
            <td>{{ iCuotas.interes }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="alert alert-danger col-md-12" role="alert" style="margin-top: 1%;" *ngIf="error_show">
      Campos incompletos <a href="#" class="alert-link">Por favor registe el monto y el numero de cuotas que desea evaluar</a>.
    </div>

</div>